<section class="content-wrapper">

  <div class="text-wrapper">
    <div class="waviy">
      <span style="--i:1">H</span>
      <span style="--i:2">E</span>
      <span style="--i:3">L</span>
      <span style="--i:4">L</span>
      <span style="--i:5">O</span>
      <span style="--i:6">!</span>
    </div>
    <p class="my-name">My name is</p>
    <p class="name">Marcis Prieditis</p>
    <p class="technologies">Fullstack C# .Net Software developer with willingnes to learn new things<p>
        <div class="about-me-wrapper">
          <p class="about-me">About me:</p>
          <p class="about-me-text">Lor since the 1500s, when an unknown printer took a galley of type and scrambled it
            to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letr I'm a
            software developer eager to learn new things.
            Don't have a lot of experience at the moment,
            but learning each day to excell my skills and broaden my knowledge.</p>
        </div>
  </div> <button (click)="openDialog()" class="lets-talk-btn" mat-raised-button>Lets Talk!</button>
</section>
