<section class="example-body">
  <div class="example-cards-wrapper">
    <div class="card" (click)="openGame2048()">
      <div class="card-header">Game 2048</div>
      <img [src]="'../../assets/images/game2048.png'" alt="game2048CoverPhoto" class="card-img">
      <p class="card-description">We had small Game Jam week and i decided to improve my skills in C# Windows forms and
        made 2048 game clone</p>
      <div class="card-footer">#Windows Forms #C# #Net5.0</div>
    </div>

    <div class="card" (click)="openFlightPlanner()">
      <div class="card-header">FLightPlanner API</div>
      <img [src]="'../../assets/images/flightPlannerAPI.png'" alt="cat" class="card-img">
      <p class="card-description">Goal to make web api with authorization for admin. Tasks to add/delete/search by id
        flights</p>
      <div class="card-footer">ASP.Net Web API</div>
    </div>

    <div class="card" (click)="openSQLmovies()">
      <div class=" card-header">SQL movies</div>
      <img [src]="'../../assets/images/sqlMovies.png'" alt="cat" class="card-img">
      <p class="card-description">Exercise goal is to create a valid database structure and store data about the movies.
      </p>
      <div class="card-footer">#database structure design #integrity constraints #executing queries</div>
    </div>


  </div>
</section>
