.popup-wrapper {
  background-color: rgba(0, 0, 0, 0.699);

}

.info-wrapper {
  color: black;
  font-size: 16px;
  // font-weight: bold;
}

.info-wrapper a {
  text-decoration: none;
  color: black;

}

.info-wrapper a:hover {
  color: #EDAEC0;
}

.style-bold {
  font-weight: bold;
}

.linkedin-last-characters {
  color: #314E70;
}
