<!-- <div class="popup-wrapper">
  <h1 mat-dialog-title>Dialog with elements</h1>
  <div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div> -->


<h2 mat-dialog-title>How to connect with me</h2>
<hr>
<div class="info-wrapper">
  <p>Call me: <span class="style-bold">+371 270 756 39</span></p>
  <a href="mailto: marcispriedza@gmail.com"><span class="style-bold">Send Email:</span> marcispriedza@gmail.com</a><br>
  <a href="https://www.linkedin.com/in/marcisp/">Connect through
    <span class="style-bold">Linked<span class="linkedin-last-characters">In</span></span></a>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
